In [1]:
import pandas as pd

In [2]:
df_gdp = pd.read_csv('gdp.csv')

In [3]:
df_gdp.head(60)

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1.931311e+10,1.972349e+10,2.149392e+10,2.573321e+10,2.352744e+10,2.681057e+10,2.915216e+10,3.017317e+10,...,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11,NaN
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,1.583285e+10,1.442643e+10,...,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10,NaN
5,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540024e+10,1.488763e+10,NaN
6,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.155065e+09,NaN,NaN
7,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.740553e+12,2.799579e+12,2.831681e+12,2.463580e+12,2.411981e+12,2.466443e+12,2.730780e+12,2.776469e+12,2.447584e+12,NaN
8,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.745906e+11,3.901076e+11,4.031371e+11,3.581351e+11,3.570451e+11,3.856055e+11,4.222150e+11,4.172156e+11,3.588688e+11,NaN
9,Argentina,ARG,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,2.863047e+10,2.425667e+10,...,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,5.575314e+11,6.436287e+11,5.248197e+11,4.519324e+11,3.892881e+11,NaN
10,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.061932e+10,1.112147e+10,1.160951e+10,1.055334e+10,1.054614e+10,1.152746e+10,1.245794e+10,1.361929e+10,1.264121e+10,NaN
11,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.480000e+08,7.090000e+08,NaN
12,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.199948e+09,1.181448e+09,1.249733e+09,1.336693e+09,1.436585e+09,1.467978e+09,1.605944e+09,1.687533e+09,1.370281e+09,NaN
13,Australia,AUS,1.860679e+10,1.968306e+10,1.992272e+10,2.153993e+10,2.380110e+10,2.597715e+10,2.730989e+10,3.044462e+10,...,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12,1.206685e+12,1.326883e+12,1.428530e+12,1.391953e+12,1.327836e+12,NaN
14,Austria,AUT,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,1.088768e+10,1.157943e+10,...,4.094252e+11,4.300687e+11,4.419961e+11,3.818176e+11,3.955686e+11,4.162305e+11,4.549459e+11,4.450119e+11,4.332585e+11,NaN
15,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.968394e+10,7.416444e+10,7.524429e+10,5.307437e+10,3.786752e+10,4.086556e+10,4.711294e+10,4.817424e+10,4.260718e+10,NaN
16,Burundi,BDI,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,1.654446e+08,1.782971e+08,...,2.333308e+09,2.451625e+09,2.705783e+09,3.104395e+09,2.732809e+09,2.748180e+09,2.668496e+09,2.631434e+09,2.841786e+09,NaN
17,Belgium,BEL,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,1.865188e+10,1.999204e+10,...,4.961813e+11,5.216427e+11,5.346781e+11,4.621497e+11,4.757396e+11,5.015229e+11,5.430085e+11,5.352887e+11,5.218613e+11,NaN
18,Benin,BEN,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,3.029253e+08,3.062220e+08,...,1.114136e+10,1.251785e+10,1.328453e+10,1.138816e+10,1.182107e+10,1.270165e+10,1.426241e+10,1.439169e+10,1.565155e+10,NaN
19,Burkina Faso,BFA,3.304428e+08,3.502472e+08,3.795670e+08,3.940406e+08,4.103216e+08,4.229168e+08,4.338898e+08,4.507540e+08,...,1.256102e+10,1.344430e+10,1.394302e+10,1.183216e+10,1.283336e+10,1.410696e+10,1.589007e+10,1.617816e+10,1.793361e+10,NaN
20,Bangladesh,BGD,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09,5.906637e+09,6.439688e+09,7.253575e+09,...,1.333557e+11,1.499905e+11,1.728855e+11,1.950787e+11,2.214152e+11,2.497109e+11,2.740390e+11,3.025713e+11,3.230570e+11,NaN
21,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.430086e+10,5.581014e+10,5.708201e+10,5.078200e+10,5.395390e+10,5.919945e+10,6.636342e+10,6.891542e+10,6.988935e+10,NaN
22,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.074931e+10,3.253947e+10,3.338771e+10,3.105064e+10,3.223497e+10,3.547378e+10,3.780146e+10,3.865258e+10,3.472923e+10,NaN
23,"Bahamas, The",BHS,1.698039e+08,1.900980e+08,2.122549e+08,2.377451e+08,2.666667e+08,3.003922e+08,3.400000e+08,3.901961e+08,...,1.072050e+10,1.049460e+10,1.114290e+10,1.189060e+10,1.199260e+10,1.235970e+10,1.283780e+10,1.316440e+10,9.907500e+09,NaN
24,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.722119e+10,1.817234e+10,1.856086e+10,1.621982e+10,1.691429e+10,1.807908e+10,2.017741e+10,2.020132e+10,1.994650e+10,NaN
25,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.568510e+10,7.552798e+10,7.881384e+10,5.645473e+10,4.772266e+10,5.472660e+10,6.003126e+10,6.440965e+10,6.025824e+10,NaN
26,Belize,BLZ,2.807189e+07,2.996437e+07,3.185692e+07,3.374941e+07,3.619383e+07,4.006993e+07,4.440559e+07,4.737931e+07,...,1.522898e+09,1.579411e+09,1.667335e+09,1.721701e+09,1.789304e+09,1.858530e+09,1.915900e+09,1.982519e+09,1.636281e+09,NaN
27,Bermuda,BMU,8.446665e+07,8.924999e+07,9.414999e+07,9.636665e+07,1.075667e+08,1.143390e+08,1.341734e+08,1.551030e+08,...,6.378188e+09,6.465756e+09,6.413988e+09,6.654541e+09,6.899911e+09,7.142316e+09,7.224329e+09,7.484113e+09,6.842700e+09,NaN
28,Bolivia,BOL,3.738794e+08,4.066846e+08,4.446652e+08,4.788060e+08,5.394915e+08,6.043771e+08,6.691919e+08,7.558081e+08,...,2.708450e+10,3.065934e+10,3.299619e+10,3.300020e+10,3.394113e+10,3.750864e+10,4.028765e+10,4.089532e+10,3.657276e+10,NaN
29,Brazil,BRA,NaN,1.727594e+10,1.923175e+10,2.328771e+10,2.096373e+10,2.246552e+10,2.828332e+10,3.108639e+10,...,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.877824e+12,1.444733e+12,NaN
30,Barbados,BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.610000e+09,4.677000e+09,4.696500e+09,4.715000e+09,4.830000e+09,4.978000e+09,5.086500e+09,5.209000e+09,4.418000e+09,NaN
31,Brunei Darussalam,BRN,NaN,NaN,NaN,NaN,NaN,1.140402e+08,1.327584e+08,1.390304e+08,...,1.904794e+10,1.809383e+10,1.709834e+10,1.293039e+10,1.140085e+10,1.212810e+10,1.356735e+10,1.346942e+10,1.200583e+10,NaN
32,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.781281e+09,1.756216e+09,1.907091e+09,2.003598e+09,2.158972e+09,2.450365e+09,2.446866e+09,2.535657e+09,2.315437e+09,NaN
33,Botswana,BWA,3.041231e+07,3.290234e+07,3.564321e+07,3.809115e+07,4.161397e+07,4.579087e+07,5.146444e+07,5.864644e+07,...,1.438000e+10,1.490175e+10,1.565466e+10,1.357875e+10,1.508258e+10,1.608844e+10,1.691425e+10,1.659372e+10,1.506192e+10,NaN
34,Central African Republic,CAF,1.121556e+08,1.231346e+08,1.244827e+08,1.293791e+08,1.420251e+08,1.505748e+08,1.579300e+08,1.638205e+08,...,2.510127e+09,1.691544e+09,1.894814e+09,1.695826e+09,1.825018e+09,2.072350e+09,2.220979e+09,2.220307e+09,2.380088e+09,NaN
35,Canada,CAN,4.046172e+10,4.093495e+10,4.222745e+10,4.502999e+10,4.937752e+10,5.451518e+10,6.108838e+10,6.566866e+10,...,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,NaN
36,Central Europe and the Baltics,CEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.353325e+12,1.422715e+12,1.465649e+12,1.292974e+12,1.321406e+12,1.463917e+12,1.645327e+12,1.673863e+12,1.653248e+12,NaN
37,Switzerland,CHE,9.522747e+09,1.071271e+10,1.187998e+10,1.306364e+10,1.448056e+10,1.534674e+10,1.648006e+10,1.774001e+10,...,6.921097e+11,7.127481e+11,7.343966e+11,7.021496e+11,6.956007e+11,7.044785e+11,7.355393e+11,7.317674e+11,7.522480e+11,NaN
38,Channel Islands,CHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Chile,CHL,4.110000e+09,4.609727e+09,5.416273e+09,5.668188e+09,5.982348e+09,6.026594e+09,7.072641e+09,7.013196e+09,...,2.671223e+11,2.783843e+11,2.605416e+11,2.439191e+11,2.504401e+11,2.770347e+11,2.975717e+11,2.793855e+11,2.529400e+11,NaN
40,China,CHN,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,7.288163e+10,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.472273e+13,NaN
41,Cote d'Ivoire,CIV,5.462036e+08,6.182456e+08,6.452843e+08,7.610470e+08,9.210633e+08,9.197714e+08,1.024103e+09,1.082923e+09,...,3.630231e+10,4.276024e+10,4.884301e+10,4.581464e+10,4.796423e+10,5.158816e+10,5.801147e+10,5.853942e+10,6.134858e+10,NaN
42,Cameroon,CMR,6.142061e+08,6.527776e+08,6.942477e+08,7.183207e+08,7.766501e+08,8.140834e+08,8.511127e+08,9.361754e+08,...,3.015506e+10,3.372862e+10,3.638655e+10,3.221023e+10,3.381434e+10,3.609855e+10,3.997384e+10,3.967098e+10,4.080445e+10,NaN
43,"Congo, Dem. Rep.",COD,3.359404e+09,3.086747e+09,3.779841e+09,6.213186e+09,2.881545e+09,4.043902e+09,4.532660e+09,3.384063e+09,...,2.930624e+10,3.267975e+10,3.590904e+10,3.791770e+10,3.713480e+10,3.801927e+10,4.714600e+10,5.040075e+10,4.871696e+10,NaN
44,"Congo, Rep.",COG,1.317319e+08,1.516757e+08,1.665212e+08,1.722334e+08,1.856937e+08,1.983181e+08,2.206136e+08,2.373974e+08,...,1.769392e+10,1.795362e+10,1.788908e+10,1.188548e+10,1.021599e+10,1.109018e+10,1.367004e+10,1.275034e+10,1.018712e+10,NaN
45,Colombia,COL,4.031153e+09,4.540448e+09,4.955544e+09,4.836167e+09,5.973367e+09,5.760762e+09,5.428519e+09,5.825170e+09,...,3.709213e+11,3.821161e+11,3.811121e+11,2.934817e+11,2.828250e+11,3.118837e+11,3.341982e+11,3.234299e+11,2.714376e+11,NaN
46,Comoros,COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.015843e+09,1.116224e+09,1.149588e+09,9.660295e+08,1.012836e+09,1.077440e+09,1.188798e+09,1.192560e+09,1.235400e+09,NaN
47,Cabo Verde,CPV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.741810e+09,1.850470e+09,1.859899e+09,1.596800e+09,1.662999e+09,1.768319e+09,1.966503e+09,1.981846e+09,1.703699e+09,NaN
48,Costa Rica,CRI,5.075138e+08,4.903252e+08,4.791808e+08,5.119021e+08,5.425784e+08,5.929812e+08,6.473056e+08,6.994566e+08,...,4.723165e+10,5.094967e+10,5.201641e+10,5.644192e+10,5.884702e+10,6.051604e+10,6.242017e+10,6.407287e+10,6.184690e+10,NaN
49,Caribbean small states,CSS,1.880306e+09,2.038302e+09,2.153896e+09,2.290314e+09,2.470265e+09,2.660946e+09,2.888648e+09,3.102515e+09,...,7.205112e+10,7.334541e+10,7.447092e+10,7.324330e+10,6.959870e+10,7.169363e+10,7.531283e+10,7.617367e+10,6.603933e+10,NaN
50,Cuba,CUB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.314100e+10,7.714800e+10,8.065600e+10,8.713300e+10,9.137000e+10,9.685100e+10,1.000500e+11,1.034280e+11,1.073520e+11,NaN
51,Curacao,CUW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.131096e+09,3.147616e+09,3.158406e+09,3.151911e+09,3.122288e+09,3.116610e+09,3.127908e+09,3.101788e+09,2.595822e+09,NaN
52,Cayman Islands,CYM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.291159e+09,4.405955e+09,4.563018e+09,4.708337e+09,4.909499e+09,5.166467e+09,5.522626e+09,5.935769e+09,5.591624e+09,NaN
53,Cyprus,CYP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.497851e+10,2.390087e+10,2.315685e+10,1.984240e+10,2.095344e+10,2.287083e+10,2.552267e+10,2.575836e+10,2.461265e+10,NaN
54,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.088577e+11,2.116856e+11,2.093588e+11,1.880331e+11,1.962721e+11,2.186289e+11,2.489501e+11,2.524980e+11,2.453393e+11,NaN
55,Germany,DEU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.527345e+12,3.732743e+12,3.883920e+12,3.356236e+12,3.467498e+12,3.681733e+12,3.975347e+12,3.888327e+12,3.846414e+12,NaN
56,Djibouti,DJI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.353633e+09,2.042817e+09,2.214679e+09,2.430274e+09,2.603540e+09,2.751446e+09,3.012803e+09,3.324616e+09,3.384385e+09,NaN
57,Dominica,DMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.859963e+08,4.982963e+08,5.202074e+08,5.407370e+08,5.762296e+08,5.198370e+08,5.506222e+08,6.115370e+08,5.042148e+08,NaN
58,Denmark,DNK,NaN,NaN,NaN,NaN,NaN,NaN,1.193174e+10,1.305906e+10,...,3.271489e+11,3.435844e+11,3.529936e+11,3.026731e+11,3.131159e+11,3.321211e+11,3.568412e+11,3.475613e+11,3.560849e+11,NaN
59,Dominican Republic,DOM,6.723997e+08,6.541002e+08,8.241000e+08,9.407999e+08,1.025600e+09,8.881000e+08,9.839000e+08,1.034800e+09,...,6.068154e+10,6.268216e+10,6.717991e+10,7.116483e+10,7.570472e+10,7.999798e+10,8.555538e+10,8.894130e+10,7.884470e+10,NaN

In [4]:
columnas_a_eliminar = ['Code','1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','Unnamed: 65']

df_gdp = df_gdp.drop(columnas_a_eliminar, axis=1)

df_gdp.head()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,1.873453e+09,1.920112e+09,1.941341e+09,2.021229e+09,2.228492e+09,2.330726e+09,2.424581e+09,2.615084e+09,2.745251e+09,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,Africa Eastern and Southern,2.839525e+11,2.588432e+11,2.648950e+11,3.526921e+11,4.388756e+11,5.122599e+11,5.759762e+11,6.612422e+11,7.083543e+11,...,9.433782e+11,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11
2,Afghanistan,NaN,NaN,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09,6.971286e+09,9.747880e+09,1.010931e+10,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10
3,Africa Western and Central,1.404080e+11,1.480120e+11,1.769334e+11,2.046419e+11,2.540903e+11,3.105543e+11,3.932967e+11,4.617776e+11,5.664257e+11,...,6.709626e+11,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11
4,Angola,9.129635e+09,8.936064e+09,1.528559e+10,1.781271e+10,2.355205e+10,3.697092e+10,5.238101e+10,6.526645e+10,8.853861e+10,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10

In [5]:
df_gdp

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,1.873453e+09,1.920112e+09,1.941341e+09,2.021229e+09,2.228492e+09,2.330726e+09,2.424581e+09,2.615084e+09,2.745251e+09,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,Africa Eastern and Southern,2.839525e+11,2.588432e+11,2.648950e+11,3.526921e+11,4.388756e+11,5.122599e+11,5.759762e+11,6.612422e+11,7.083543e+11,...,9.433782e+11,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11
2,Afghanistan,NaN,NaN,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09,6.971286e+09,9.747880e+09,1.010931e+10,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10
3,Africa Western and Central,1.404080e+11,1.480120e+11,1.769334e+11,2.046419e+11,2.540903e+11,3.105543e+11,3.932967e+11,4.617776e+11,5.664257e+11,...,6.709626e+11,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11
4,Angola,9.129635e+09,8.936064e+09,1.528559e+10,1.781271e+10,2.355205e+10,3.697092e+10,5.238101e+10,6.526645e+10,8.853861e+10,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.181777e+09,...,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09
262,"Yemen, Rep.",9.652436e+09,9.861560e+09,1.069463e+10,1.177797e+10,1.387279e+10,1.674634e+10,1.906198e+10,2.165053e+10,2.691085e+10,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.131737e+10,2.684013e+10,2.160614e+10,NaN,NaN
263,South Africa,1.517534e+11,1.354296e+11,1.290881e+11,1.970202e+11,2.558066e+11,2.888685e+11,3.038609e+11,3.330755e+11,3.161321e+11,...,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11
264,Zambia,3.600683e+09,4.094481e+09,4.193846e+09,4.901840e+09,6.221078e+09,8.331870e+09,1.275686e+10,1.405696e+10,1.791086e+10,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10
265,Zimbabwe,6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,5.291950e+09,4.415703e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10

In [6]:
df_gdp.isna().sum()

Country Name     0
2000            19
2001            18
2002            13
2003            13
2004            13
2005            13
2006            12
2007            12
2008            11
2009            11
2010            10
2011             8
2012             9
2013             8
2014             8
2015             9
2016            10
2017            10
2018            10
2019            13
2020            24
dtype: int64

In [7]:
df = pd.read_csv('Df_groups.csv')

df.head(60)

,country,year,renewable_electricity_generating_capacity_per_capita,renewable_energy_share_in_the_total_final_energy_consumption_(%),electricity_from_fossil_fuels_(twh),electricity_from_nuclear_(twh),electricity_from_renewables_(twh),low_carbon_electricity_(%_electricity),primary_energy_consumption_per_capita_(kwh/person),energy_intensity_level_of_primary_energy_(mj/$2017_ppp_gdp),value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,land_area(km2)
0,Afghanistan,2000,9.22,44.99,0.16,0.0,0.31,65.957440,302.59482,1.64,760.0,0.000000,0.000000,652230.0
1,Afghanistan,2001,8.86,45.60,0.09,0.0,0.50,84.745766,236.89185,1.74,730.0,0.000000,0.000000,652230.0
2,Afghanistan,2002,8.47,37.83,0.13,0.0,0.56,81.159424,210.86215,1.40,1029.999971,0.000000,179.426579,652230.0
3,Afghanistan,2003,8.09,36.66,0.31,0.0,0.63,67.021280,229.96822,1.40,1220.000029,8.832278,190.683814,652230.0
4,Afghanistan,2004,7.75,44.24,0.33,0.0,0.56,62.921350,204.23125,1.20,1029.999971,1.414118,211.382074,652230.0
5,Afghanistan,2005,7.51,33.88,0.34,0.0,0.59,63.440857,252.06912,1.41,1549.999952,11.229715,242.031313,652230.0
6,Afghanistan,2006,7.40,31.89,0.20,0.0,0.64,76.190475,304.42090,1.50,1759.99999,5.357403,263.733602,652230.0
7,Afghanistan,2007,7.25,28.78,0.20,0.0,0.75,78.947370,354.27990,1.53,1769.999981,13.826320,359.693158,652230.0
8,Afghanistan,2008,7.49,21.17,0.19,0.0,0.54,73.972600,607.83350,1.94,3559.999943,3.924984,364.663542,652230.0
9,Afghanistan,2009,7.50,16.53,0.16,0.0,0.78,82.978720,975.04816,2.25,4880.000114,21.390528,437.268740,652230.0
10,Afghanistan,2010,8.27,15.15,0.19,0.0,0.75,79.787230,1182.89200,2.46,7110.000134,14.362441,543.306526,652230.0
11,Afghanistan,2011,8.13,12.61,0.18,0.0,0.60,76.923090,1436.11430,3.23,8930.000305,0.426355,591.190030,652230.0
12,Afghanistan,2012,9.29,15.36,0.14,0.0,0.74,84.090910,1324.12110,2.61,8079.999924,12.752287,638.845852,652230.0
13,Afghanistan,2013,9.10,16.86,0.22,0.0,0.89,80.180176,1060.79260,2.46,5989.999771,5.600745,624.315454,652230.0
14,Afghanistan,2014,8.95,18.93,0.16,0.0,1.00,86.206900,868.57620,2.25,4880.000114,2.724543,614.223342,652230.0
15,Afghanistan,2015,8.79,17.53,0.15,0.0,1.03,87.288140,970.08030,2.37,5949.999809,1.451315,556.007221,652230.0
16,Afghanistan,2016,9.87,19.92,0.15,0.0,1.06,87.603294,862.79114,2.24,5300.000191,2.260314,512.012778,652230.0
17,Afghanistan,2017,9.79,19.21,0.18,0.0,1.09,85.826775,829.31195,2.30,4780.00021,2.647003,516.679862,652230.0
18,Afghanistan,2018,9.55,17.96,0.20,0.0,0.97,82.905980,924.25085,2.44,6070.000172,1.189228,485.668419,652230.0
19,Afghanistan,2019,9.58,18.51,0.18,0.0,0.89,83.177570,802.61255,2.41,6079.999924,3.911603,494.179350,652230.0
20,Afghanistan,2020,9.35,0.00,0.12,0.0,0.68,85.000000,702.88800,0.00,unknown,-2.351101,516.747871,652230.0
21,Albania,2000,0.00,0.00,0.14,0.0,4.55,97.014930,9029.43750,4.13,3170.0,6.946217,1126.683340,28748.0
22,Albania,2001,0.00,0.00,0.13,0.0,3.52,96.438354,8635.53200,3.89,3230.0,8.293313,1281.659826,28748.0
23,Albania,2002,0.00,0.00,0.16,0.0,3.48,95.604390,9443.55500,4.10,3759.99999,4.536524,1425.124219,28748.0
24,Albania,2003,0.00,0.00,0.10,0.0,5.12,98.084300,10756.61200,3.80,4070.000172,5.528637,1846.120121,28748.0
25,Albania,2004,0.00,0.00,0.13,0.0,5.41,97.653430,11586.95100,3.96,4250.0,5.514668,2373.581292,28748.0
26,Albania,2005,0.00,0.00,0.07,0.0,5.32,98.701300,11545.61600,3.75,4030.00021,5.526424,2673.786584,28748.0
27,Albania,2006,0.00,0.00,0.09,0.0,4.95,98.214280,10976.72800,3.46,4010.000229,5.902659,2972.742924,28748.0
28,Albania,2007,0.00,0.00,0.07,0.0,2.76,97.526505,9534.87400,3.12,4139.999866,5.983260,3595.038057,28748.0
29,Albania,2008,0.00,0.00,0.07,0.0,3.76,98.172325,10499.32800,3.01,4079.999924,7.500041,4370.539925,28748.0
30,Albania,2009,0.00,0.00,0.00,0.0,5.20,100.000000,11524.42800,2.98,4219.99979,3.354289,4114.134899,28748.0
31,Albania,2010,0.00,0.00,0.00,0.0,7.49,100.000000,12377.50400,2.85,4449.999809,3.706938,4094.348386,28748.0
32,Albania,2011,0.00,0.00,0.06,0.0,4.09,98.554214,10854.64900,2.91,4849.999905,2.545406,4437.142612,28748.0
33,Albania,2012,0.00,0.00,0.00,0.0,4.68,100.000000,10652.80900,2.57,4360.000134,1.417243,4247.630047,28748.0
34,Albania,2013,0.00,0.00,0.00,0.0,6.89,100.000000,13392.77400,2.96,4440.000057,1.002018,4413.062005,28748.0
35,Albania,2014,0.00,0.00,0.00,0.0,4.68,100.000000,11809.46100,2.93,4820.000172,1.774449,4578.633208,28748.0
36,Albania,2015,0.00,0.00,0.00,0.0,5.84,100.000000,11824.31400,2.69,4619.999886,2.218726,3952.802538,28748.0
37,Albania,2016,0.00,0.00,0.00,0.0,7.70,100.000000,13823.74800,2.68,4480.000019,3.314981,4124.055390,28748.0
38,Albania,2017,0.00,0.00,0.00,0.0,4.48,100.000000,12802.36000,2.69,5139.999866,3.802227,4531.019374,28748.0
39,Albania,2018,0.00,0.00,0.00,0.0,8.47,100.000000,14609.70100,2.57,5110.000134,4.019360,5287.663694,28748.0
40,Albania,2019,0.00,0.00,0.00,0.0,5.17,100.000000,11585.55500,2.50,4829.999924,2.113420,5395.659532,28748.0
41,Albania,2020,0.00,0.00,0.00,0.0,5.31,100.000000,11158.00300,0.00,unknown,-3.955398,5246.292306,28748.0
42,Algeria,2000,8.91,0.43,23.84,0.0,0.05,0.209293,9746.52400,4.18,80050.0,3.800000,1765.027146,2381741.0
43,Algeria,2001,8.79,0.43,24.96,0.0,0.07,0.279664,9961.64000,4.07,78650.0,3.000000,1740.606654,2381741.0
44,Algeria,2002,8.68,0.51,25.94,0.0,0.06,0.230769,10180.35000,4.12,82400.00153,5.600000,1781.828908,2381741.0
45,Algeria,2003,8.57,0.47,27.54,0.0,0.26,0.935252,10510.46100,4.08,88190.00244,7.200000,2103.381291,2381741.0
46,Algeria,2004,8.46,0.44,29.14,0.0,0.25,0.850630,10759.02200,3.96,89489.99786,4.300000,2610.185422,2381741.0
47,Algeria,2005,8.34,0.58,31.36,0.0,0.55,1.723598,11113.72300,3.90,94190.00244,5.900000,3113.094883,2381741.0
48,Algeria,2006,7.42,0.41,32.90,0.0,0.22,0.664251,11341.98000,4.10,99809.99756,1.700000,3478.710002,2381741.0
49,Algeria,2007,7.30,0.41,34.75,0.0,0.22,0.629111,11759.70100,4.21,102750.0,3.400000,3950.512993,2381741.0
50,Algeria,2008,6.64,0.30,37.55,0.0,0.28,0.740153,12252.29700,4.16,107750.0,2.400000,4923.631615,2381741.0
51,Algeria,2009,6.44,0.31,35.91,0.0,0.30,0.828500,12753.12000,4.48,112169.9982,1.600000,3883.270900,2381741.0
52,Algeria,2010,7.02,0.26,42.82,0.0,0.17,0.395441,12243.15600,4.42,114180.0003,3.600000,4480.786318,2381741.0
53,Algeria,2011,6.89,0.18,47.67,0.0,0.50,1.037991,12710.54100,4.47,120790.0009,2.900000,5455.679403,2381741.0
54,Algeria,2012,6.76,0.18,53.36,0.0,0.62,1.148573,13624.90900,4.72,134929.9927,3.400000,5592.220115,2381741.0
55,Algeria,2013,6.62,0.13,55.99,0.0,0.33,0.585938,14130.73500,4.76,139020.0043,2.800000,5499.587331,2381741.0
56,Algeria,2014,6.78,0.07,60.15,0.0,0.25,0.413907,15108.63500,5.00,147740.0055,3.800000,5493.056695,2381741.0
57,Algeria,2015,7.85,0.06,64.46,0.0,0.22,0.340136,15616.31100,5.05,156270.0043,3.700000,4177.889542,2381741.0
58,Algeria,2016,11.88,0.08,66.43,0.0,0.34,0.509211,15295.14300,4.85,154910.0037,3.200000,3946.452447,2381741.0
59,Algeria,2017,16.02,0.14,70.86,0.0,0.64,0.895105,15164.00000,4.93,158339.9963,1.300000,4109.698217,2381741.0

In [8]:
nuevo_df = df[df['country'] == 'Algeria']

nuevo_df.head(60)

,country,year,renewable_electricity_generating_capacity_per_capita,renewable_energy_share_in_the_total_final_energy_consumption_(%),electricity_from_fossil_fuels_(twh),electricity_from_nuclear_(twh),electricity_from_renewables_(twh),low_carbon_electricity_(%_electricity),primary_energy_consumption_per_capita_(kwh/person),energy_intensity_level_of_primary_energy_(mj/$2017_ppp_gdp),value_co2_emissions_kt_by_country,gdp_growth,gdp_per_capita,land_area(km2)
42,Algeria,2000,8.91,0.43,23.84,0.0,0.05,0.209293,9746.524,4.18,80050.0,3.8,1765.027146,2381741.0
43,Algeria,2001,8.79,0.43,24.96,0.0,0.07,0.279664,9961.640,4.07,78650.0,3.0,1740.606654,2381741.0
44,Algeria,2002,8.68,0.51,25.94,0.0,0.06,0.230769,10180.350,4.12,82400.00153,5.6,1781.828908,2381741.0
45,Algeria,2003,8.57,0.47,27.54,0.0,0.26,0.935252,10510.461,4.08,88190.00244,7.2,2103.381291,2381741.0
46,Algeria,2004,8.46,0.44,29.14,0.0,0.25,0.850630,10759.022,3.96,89489.99786,4.3,2610.185422,2381741.0
47,Algeria,2005,8.34,0.58,31.36,0.0,0.55,1.723598,11113.723,3.90,94190.00244,5.9,3113.094883,2381741.0
48,Algeria,2006,7.42,0.41,32.90,0.0,0.22,0.664251,11341.980,4.10,99809.99756,1.7,3478.710002,2381741.0
49,Algeria,2007,7.30,0.41,34.75,0.0,0.22,0.629111,11759.701,4.21,102750.0,3.4,3950.512993,2381741.0
50,Algeria,2008,6.64,0.30,37.55,0.0,0.28,0.740153,12252.297,4.16,107750.0,2.4,4923.631615,2381741.0
51,Algeria,2009,6.44,0.31,35.91,0.0,0.30,0.828500,12753.120,4.48,112169.9982,1.6,3883.270900,2381741.0
52,Algeria,2010,7.02,0.26,42.82,0.0,0.17,0.395441,12243.156,4.42,114180.0003,3.6,4480.786318,2381741.0
53,Algeria,2011,6.89,0.18,47.67,0.0,0.50,1.037991,12710.541,4.47,120790.0009,2.9,5455.679403,2381741.0
54,Algeria,2012,6.76,0.18,53.36,0.0,0.62,1.148573,13624.909,4.72,134929.9927,3.4,5592.220115,2381741.0
55,Algeria,2013,6.62,0.13,55.99,0.0,0.33,0.585938,14130.735,4.76,139020.0043,2.8,5499.587331,2381741.0
56,Algeria,2014,6.78,0.07,60.15,0.0,0.25,0.413907,15108.635,5.00,147740.0055,3.8,5493.056695,2381741.0
57,Algeria,2015,7.85,0.06,64.46,0.0,0.22,0.340136,15616.311,5.05,156270.0043,3.7,4177.889542,2381741.0
58,Algeria,2016,11.88,0.08,66.43,0.0,0.34,0.509211,15295.143,4.85,154910.0037,3.2,3946.452447,2381741.0
59,Algeria,2017,16.02,0.14,70.86,0.0,0.64,0.895105,15164.000,4.93,158339.9963,1.3,4109.698217,2381741.0
60,Algeria,2018,16.25,0.19,71.32,0.0,0.78,1.081831,15971.084,5.19,165539.9933,1.1,4142.018558,2381741.0
61,Algeria,2019,15.93,0.16,75.85,0.0,0.84,1.095319,16259.053,5.32,171250.0,1.0,3989.668276,2381741.0
62,Algeria,2020,15.64,0.00,72.01,0.0,0.72,0.989963,14933.807,0.00,unknown,-5.1,3306.858208,2381741.0

In [9]:
df_prueba = df[['country','year','electricity_from_fossil_fuels_(twh)','electricity_from_nuclear_(twh)','electricity_from_renewables_(twh)']]

df_prueba

,country,year,electricity_from_fossil_fuels_(twh),electricity_from_nuclear_(twh),electricity_from_renewables_(twh)
0,Afghanistan,2000,0.16,0.0,0.31
1,Afghanistan,2001,0.09,0.0,0.50
2,Afghanistan,2002,0.13,0.0,0.56
3,Afghanistan,2003,0.31,0.0,0.63
4,Afghanistan,2004,0.33,0.0,0.56
...,...,...,...,...,...
3607,Zimbabwe,2016,3.50,0.0,3.32
3608,Zimbabwe,2017,3.05,0.0,4.30
3609,Zimbabwe,2018,3.73,0.0,5.46
3610,Zimbabwe,2019,3.66,0.0,4.58
3611,Zimbabwe,2020,3.40,0.0,4.19

In [10]:
nuevo_df = df[df['electricity_from_fossil_fuels_(twh)'] == 'unknown']

nuevo_df.head(60)

Empty DataFrame
Columns: [country, year, renewable_electricity_generating_capacity_per_capita, renewable_energy_share_in_the_total_final_energy_consumption_(%), electricity_from_fossil_fuels_(twh), electricity_from_nuclear_(twh), electricity_from_renewables_(twh), low_carbon_electricity_(%_electricity), primary_energy_consumption_per_capita_(kwh/person), energy_intensity_level_of_primary_energy_(mj/$2017_ppp_gdp), value_co2_emissions_kt_by_country, gdp_growth, gdp_per_capita, land_area(km2)]
Index: []

In [11]:
df_fossil = df.pivot_table(index='country',
                        columns='year', 
                       values=['electricity_from_fossil_fuels_(twh)']
                       )

df_fossil.head()

                    electricity_from_fossil_fuels_(twh)                       \
year                                               2000   2001   2002   2003
country
Afghanistan                                        0.16   0.09   0.13   0.31
Albania                                            0.14   0.13   0.16   0.10
Algeria                                           23.84  24.96  25.94  27.54
Angola                                             0.50   0.58   0.58   0.71
Antigua and Barbuda                                0.14   0.16   0.18   0.20

                                                               ...         \
year                  2004   2005   2006   2007   2008   2009  ...   2011
country                                                        ...
Afghanistan           0.33   0.34   0.20   0.20   0.19   0.16  ...   0.18
Albania               0.13   0.07   0.09   0.07   0.07   0.00  ...   0.06
Algeria              29.14  31.36  32.90  34.75  37.55  35.91  ...  47.67
Angola                0.45   0.53   0.60   0.68   0.96   1.54  ...   1.55
Antigua and Barbuda   0.21   0.23   0.24   0.26   0.27   0.31  ...   0.32

                                                                             \
year                  2012   2013   2014   2015   2016   2017   2018   2019
country
Afghanistan           0.14   0.22   0.16   0.15   0.15   0.18   0.20   0.18
Albania               0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
Algeria              53.36  55.99  60.15  64.46  66.43  70.86  71.32  75.85
Angola                2.29   3.24   3.98   4.03   4.20   2.99   2.93   4.38
Antigua and Barbuda   0.31   0.31   0.32   0.32   0.32   0.32   0.32   0.33


year                  2020
country
Afghanistan           0.12
Albania               0.00
Algeria              72.01
Angola                4.49
Antigua and Barbuda   0.31

[5 rows x 21 columns]

In [12]:
df_nuclear = df.pivot_table(index='country',
                        columns='year', 
                       values=['electricity_from_nuclear_(twh)']
                       )

df_nuclear.head()

                    electricity_from_nuclear_(twh)                           \
year                                          2000 2001 2002 2003 2004 2005
country
Afghanistan                                    0.0  0.0  0.0  0.0  0.0  0.0
Albania                                        0.0  0.0  0.0  0.0  0.0  0.0
Algeria                                        0.0  0.0  0.0  0.0  0.0  0.0
Angola                                         0.0  0.0  0.0  0.0  0.0  0.0
Antigua and Barbuda                            0.0  0.0  0.0  0.0  0.0  0.0

                                         ...                                \
year                2006 2007 2008 2009  ... 2011 2012 2013 2014 2015 2016
country                                  ...
Afghanistan          0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
Albania              0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
Algeria              0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
Angola               0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
Antigua and Barbuda  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0


year                2017 2018 2019 2020
country
Afghanistan          0.0  0.0  0.0  0.0
Albania              0.0  0.0  0.0  0.0
Algeria              0.0  0.0  0.0  0.0
Angola               0.0  0.0  0.0  0.0
Antigua and Barbuda  0.0  0.0  0.0  0.0

[5 rows x 21 columns]

In [13]:
df_nuclear = df.pivot_table(index='country',
                        columns='year', 
                       values=['electricity_from_renewables_(twh)']
                       )

df_nuclear.head()

                    electricity_from_renewables_(twh)                          \
year                                             2000  2001  2002  2003  2004
country
Afghanistan                                      0.31  0.50  0.56  0.63  0.56
Albania                                          4.55  3.52  3.48  5.12  5.41
Algeria                                          0.05  0.07  0.06  0.26  0.25
Angola                                           0.90  1.01  1.13  1.23  1.73
Antigua and Barbuda                              0.00  0.00  0.00  0.00  0.00

                                                   ...                    \
year                 2005  2006  2007  2008  2009  ...  2011  2012  2013
country                                            ...
Afghanistan          0.59  0.64  0.75  0.54  0.78  ...  0.60  0.74  0.89
Albania              5.32  4.95  2.76  3.76  5.20  ...  4.09  4.68  6.89
Algeria              0.55  0.22  0.22  0.28  0.30  ...  0.50  0.62  0.33
Angola               2.20  2.64  2.47  3.10  3.06  ...  3.98  3.74  4.73
Antigua and Barbuda  0.00  0.00  0.00  0.00  0.00  ...  0.00  0.00  0.00


year                 2014  2015  2016  2017  2018   2019   2020
country
Afghanistan          1.00  1.03  1.06  1.09  0.97   0.89   0.68
Albania              4.68  5.84  7.70  4.48  8.47   5.17   5.31
Algeria              0.25  0.22  0.34  0.64  0.78   0.84   0.72
Angola               5.24  5.28  6.01  7.69  9.90  11.02  12.10
Antigua and Barbuda  0.00  0.01  0.00  0.01  0.01   0.01   0.02

[5 rows x 21 columns]

In [14]:
filas_2015 = df[df['year'] == 2015]

filas_2015 = filas_2015[['country','year','low_carbon_electricity_(%_electricity)']]

filas_2015.reset_index()

     index              country  year  low_carbon_electricity_(%_electricity)
0       15          Afghanistan  2015                               87.288140
1       36              Albania  2015                              100.000000
2       57              Algeria  2015                                0.340136
3       78               Angola  2015                               56.713207
4       99  Antigua and Barbuda  2015                                3.030303
..     ...                  ...   ...                                     ...
167   3522           Uzbekistan  2015                               12.832264
168   3543              Vanuatu  2015                               28.571428
169   3564                Yemen  2015                                2.023609
170   3585               Zambia  2015                               97.305390
171   3606             Zimbabwe  2015                               57.188496

[172 rows x 4 columns]

In [15]:
filas_2010 = df[df['year'] == 2010]

filas_2010 = filas_2010[['country','year','low_carbon_electricity_(%_electricity)']]

filas_2010.reset_index()

     index              country  year  low_carbon_electricity_(%_electricity)
0       10          Afghanistan  2010                               79.787230
1       31              Albania  2010                              100.000000
2       52              Algeria  2010                                0.395441
3       73               Angola  2010                               69.172930
4       94  Antigua and Barbuda  2010                                0.000000
..     ...                  ...   ...                                     ...
167   3517           Uzbekistan  2010                               16.460320
168   3538              Vanuatu  2010                                0.000000
169   3559                Yemen  2010                                0.000000
170   3580               Zambia  2010                               99.519690
171   3601             Zimbabwe  2010                               70.497635

[172 rows x 4 columns]

In [16]:
filas_2005 = df[df['year'] == 2005]

filas_2005 = filas_2005[['country','year','low_carbon_electricity_(%_electricity)']]

filas_2005.reset_index()

     index              country  year  low_carbon_electricity_(%_electricity)
0        5          Afghanistan  2005                               63.440857
1       26              Albania  2005                               98.701300
2       47              Algeria  2005                                1.723598
3       68               Angola  2005                               80.586080
4       89  Antigua and Barbuda  2005                                0.000000
..     ...                  ...   ...                                     ...
167   3512           Uzbekistan  2005                               18.820522
168   3533              Vanuatu  2005                                0.000000
169   3554                Yemen  2005                                0.000000
170   3575               Zambia  2005                               99.099100
171   3596             Zimbabwe  2005                               57.522125

[172 rows x 4 columns]

In [17]:
filas_2000 = df[df['year'] == 2000]

filas_2000 = filas_2000[['country','year','low_carbon_electricity_(%_electricity)']]

filas_2000.reset_index()

     index              country  year  low_carbon_electricity_(%_electricity)
0        0          Afghanistan  2000                               65.957440
1       21              Albania  2000                               97.014930
2       42              Algeria  2000                                0.209293
3       63               Angola  2000                               64.285710
4       84  Antigua and Barbuda  2000                                0.000000
..     ...                  ...   ...                                     ...
167   3507           Uzbekistan  2000                               13.128806
168   3528              Vanuatu  2000                                0.000000
169   3549                Yemen  2000                                0.000000
170   3570               Zambia  2000                               99.097940
171   3591             Zimbabwe  2000                               51.038578

[172 rows x 4 columns]

In [18]:
url_co2_2015 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2?anio=2015'

In [19]:
url_co2_2010 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2?anio=2010'

In [20]:
url_co2_2005 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2?anio=2005'

In [21]:
url_co2_2000 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2?anio=2000'

In [22]:
df_co2_2015 = pd.read_html(url_co2_2015)[0]

In [23]:
df_co2_2010 = pd.read_html(url_co2_2010)[0]

In [24]:
df_co2_2005 = pd.read_html(url_co2_2005)[0]

In [25]:
df_co2_2000 = pd.read_html(url_co2_2000)[0]

In [26]:
url_consum_2015 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo?anio=2015'

In [27]:
url_consum_2010 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo?anio=2010'

In [28]:
url_consum_2005 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo?anio=2005'

In [29]:
url_consum_2000 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo?anio=2000'

In [30]:
df_consum_2015 = pd.read_html(url_consum_2015)[0]

In [31]:
df_consum_2010 = pd.read_html(url_consum_2010)[0]

In [32]:
df_consum_2005 = pd.read_html(url_consum_2005)[0]

In [33]:
df_consum_2000 = pd.read_html(url_consum_2000)[0]

In [34]:
df_co2_2000.columns = df_co2_2000.columns.str.lower().str.replace(' ', '_')
df_co2_2005.columns = df_co2_2005.columns.str.lower().str.replace(' ', '_')
df_co2_2010.columns = df_co2_2010.columns.str.lower().str.replace(' ', '_')
df_co2_2015.columns = df_co2_2015.columns.str.lower().str.replace(' ', '_')

In [35]:
df_co2_2000 = df_co2_2000.rename(columns={'países': 'country'})
df_co2_2005 = df_co2_2005.rename(columns={'países': 'country'})
df_co2_2010 = df_co2_2010.rename(columns={'países': 'country'})
df_co2_2015 = df_co2_2015.rename(columns={'países': 'country'})

In [36]:
df_co2_2000 = df_co2_2000.drop((['co2_kg/1000$','co2_t_per_capita.1','var.']), axis=1)
df_co2_2005 = df_co2_2005.drop((['co2_kg/1000$','co2_t_per_capita.1','var.']), axis=1)
df_co2_2010 = df_co2_2010.drop((['co2_kg/1000$','co2_t_per_capita.1','var.']), axis=1)
df_co2_2015 = df_co2_2015.drop((['co2_kg/1000$','co2_t_per_capita.1','var.']), axis=1)

In [37]:
df_consum_2000.columns = df_consum_2000.columns.str.lower().str.replace(' ', '_')
df_consum_2005.columns = df_consum_2005.columns.str.lower().str.replace(' ', '_')
df_consum_2010.columns = df_consum_2010.columns.str.lower().str.replace(' ', '_')
df_consum_2015.columns = df_consum_2015.columns.str.lower().str.replace(' ', '_')

df_consum_2010

,países,generación_gwh,consumo_gwh,consumo_per_capita_kwh,consumo_per_capita_kwh.1,var.
0,España [+],288.527,275.736,"5.908,6",NaN,"2,41%"
1,Alemania [+],592.761,553.832,"6.903,7",NaN,"8,43%"
2,Reino Unido [+],363.598,339.378,"5.385,0",NaN,"3,98%"
3,Francia [+],539.913,473.786,"7.291,4",NaN,"5,57%"
4,Italia [+],288.117,311.707,"5.250,7",NaN,"4,52%"
...,...,...,...,...,...,...
182,Samoa [+],116,101,5436,NaN,"-1,41%"
183,Yemen [+],7.292,5.438,2230,NaN,"12,33%"
184,Sudáfrica [+],241.984,215.041,"4.189,5",NaN,"3,50%"
185,Zambia [+],10.409,7.996,5798,NaN,"3,22%"
186,Zimbabue [+],8.441,7.479,6061,NaN,"3,59%"

In [38]:
df_consum_2000 = df_consum_2000.rename(columns={'países': 'country'})
df_consum_2005 = df_consum_2005.rename(columns={'países': 'country'})
df_consum_2010 = df_consum_2010.rename(columns={'países': 'country'})
df_consum_2015 = df_consum_2015.rename(columns={'países': 'country'})

In [39]:
df_consum_2000

,country,generación_gwh,consumo_gwh,consumo_per_capita_kwh,consumo_per_capita_kwh.1,var.
0,España [+],208.742,193.917,"4.768,6",NaN,"6,80%"
1,Alemania [+],540.116,509.081,"6.188,7",NaN,"2,30%"
2,Reino Unido [+],352.587,335.618,"5.688,5",NaN,"1,82%"
3,Francia [+],509.634,409.744,"6.719,4",NaN,"1,40%"
4,Italia [+],253.218,278.362,"4.886,9",NaN,"4,05%"
...,...,...,...,...,...,...
178,Samoa [+],88,82,4713,NaN,"-7,19%"
179,Yemen [+],3.208,2.260,1230,NaN,"31,24%"
180,Sudáfrica [+],195.829,180.684,"4.024,1",NaN,"2,38%"
181,Zambia [+],7.757,6.184,6252,NaN,"1,80%"
182,Zimbabue [+],6.738,10.411,8904,NaN,"7,88%"

In [40]:
df_consum_2000 = df_consum_2000.drop((['generación_gwh','consumo_per_capita_kwh.1','var.']), axis=1)
df_consum_2005 = df_consum_2005.drop((['generación_gwh','consumo_per_capita_kwh.1','var.']), axis=1)
df_consum_2010 = df_consum_2010.drop((['generación_gwh','consumo_per_capita_kwh.1','var.']), axis=1)
df_consum_2015 = df_consum_2015.drop((['generación_gwh','consumo_per_capita_kwh.1','var.']), axis=1)

In [41]:
df_consum_2000.country = df_consum_2000.country.str.replace('[+]', '')
df_consum_2005.country = df_consum_2005.country.str.replace('[+]', '')
df_consum_2010.country = df_consum_2010.country.str.replace('[+]', '')
df_consum_2015.country = df_consum_2015.country.str.replace('[+]', '')

In [42]:
df_co2_2000.country = df_co2_2000.country.str.replace('[+]', '')
df_co2_2005.country = df_co2_2005.country.str.replace('[+]', '')
df_co2_2010.country = df_co2_2010.country.str.replace('[+]', '')
df_co2_2015.country = df_co2_2015.country.str.replace('[+]', '')

In [43]:
df_comun = pd.merge(df_co2_2015, df_consum_2015, on='country')

df_comun

,country,co2_totales_mt,co2_t_per_capita,consumo_gwh,consumo_per_capita_kwh
0,España,273714,590,262.808,"5.659,1"
1,Alemania,788614,965,537.624,"6.542,4"
2,Reino Unido,419389,641,320.636,"4.904,3"
3,Francia,334793,519,450.044,"6.753,5"
4,Italia,355798,598,300.060,"4.946,1"
...,...,...,...,...,...
178,Samoa,0311,160,116,5966
179,Yemen,14248,53,4.500,1599
180,Sudáfrica,458824,830,209.371,"3.778,8"
181,Zambia,5315,33,11.693,7197
182,Zimbabue,12876,82,7.634,5449

In [44]:
df_comun['consumo_per_capita_kwh'] = df_comun['consumo_per_capita_kwh'].str.replace('.', '')

In [45]:
df_comun['consumo_per_capita_kwh'] = df_comun['consumo_per_capita_kwh'].str.replace(',', '.')

In [46]:
df_comun['consumo_per_capita_kwh'] = df_comun['consumo_per_capita_kwh'].astype(float)

In [48]:
df_comun['co2_t_per_capita'] = df_comun['co2_t_per_capita']/100

In [50]:
df_comun['consumo_per_capita_kwh'] = df_comun['consumo_per_capita_kwh']/1000

In [51]:
df_comun['(emis/consum)/cap'] = df_comun['co2_t_per_capita'] / df_comun['consumo_per_capita_kwh']

df_comun

,country,co2_totales_mt,co2_t_per_capita,consumo_gwh,consumo_per_capita_kwh,(emis/consum)/cap
0,España,273714,5.90,262.808,5.6591,1.042569
1,Alemania,788614,9.65,537.624,6.5424,1.474994
2,Reino Unido,419389,6.41,320.636,4.9043,1.307016
3,Francia,334793,5.19,450.044,6.7535,0.768490
4,Italia,355798,5.98,300.060,4.9461,1.209033
...,...,...,...,...,...,...
178,Samoa,0311,1.60,116,5.9660,0.268186
179,Yemen,14248,0.53,4.500,1.5990,0.331457
180,Sudáfrica,458824,8.30,209.371,3.7788,2.196464
181,Zambia,5315,0.33,11.693,7.1970,0.045852
182,Zimbabue,12876,0.82,7.634,5.4490,0.150486

In [47]:
df_comun['(emis/consum)/cap'].describe()

KeyError: '(emis/consum)/cap'