In [2]:
import pandas as pd

In [3]:
url = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2/espana'

In [4]:
pd.read_html(url)[0]

    Fecha  CO2 Totales Mt  CO2 Kg/1000$  CO2 t per capita
0    2021          231914          13.0               499
1    2020          212467          12.0               457
2    2019          256805          13.0               553
3    2018          274374          15.0               591
4    2017          280844          15.0               606
5    2016          264696          15.0               571
6    2015          273714          16.0               590
7    2014          257632          15.0               554
8    2013          260356          16.0               558
9    2012          287060          17.0               613
10   2011          293205          17.0               625
11   2010          291328          17.0               623
12   2009          304396          18.0               655
13   2008          344169          19.0               748
14   2007          375974          21.0               828
15   2006          362671          21.0               811
16   2005          371537          22.0               844
17   2004          356516          22.0               822
18   2003          340607          22.0               799
19   2002          332112          22.0               791
20   2001          314707          21.0               760
21   2000          314320          22.0               768
22   1999          297988          22.0               735
23   1998          275907          22.0               685
24   1997          267254          22.0               666
25   1996          247398          21.0               618
26   1995          256038          22.0               642
27   1994          243683          22.0               613
28   1993          233509          21.0               589
29   1992          248448          22.0               629
30   1991          239673          22.0               608
31   1990          232117          22.0               591
32   1989          227507           NaN               580
33   1988          208697           NaN               533
34   1987          204472           NaN               524
35   1986          203418           NaN               522
36   1985          199891           NaN               515
37   1984          206753           NaN               534
38   1983          217850           NaN               566
39   1982          214367           NaN               560
40   1981          221194           NaN               581
41   1980          215763           NaN               571
42   1979          205348           NaN               548
43   1978          193309           NaN               521
44   1977          195385           NaN               531
45   1976          203233           NaN               559
46   1975          185170           NaN               515
47   1974          179507           NaN               505
48   1973          166674           NaN               474
49   1972          153938           NaN               443
50   1971          141753           NaN               413
51   1970          145207           NaN               427

In [6]:
url1 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-generacion/espana'

In [7]:
pd.read_html(url1)[0]

,Fecha,Capacidad instalada MW,Generación GWh,Capacidad instalada renovable MW,Generación renovable GWh,Porcentaje renovable
0,2022,119.449,276.368,70.813,116.695,"42,22%"
1,2021,113.489,260.011,64.970,121.459,"46,71%"
2,2020,110.825,251.399,60.272,110.605,"44,00%"
3,2019,110.004,260.829,55.484,97.913,"37,54%"
4,2018,104.101,260.982,49.069,100.344,"38,45%"
5,2017,104.040,262.306,48.609,84.611,"32,26%"
6,2016,104.557,261.836,48.505,101.089,"38,61%"
7,2015,105.657,267.454,48.451,94.088,"35,18%"
8,2014,105.758,266.512,45.868,107.876,"40,48%"
9,2013,105.830,273.286,45.788,109.758,"40,16%"
10,2012,105.243,283.119,45.101,85.339,"30,14%"
11,2011,102.898,279.354,41.953,86.667,"31,02%"
12,2010,101.371,288.527,39.545,95.761,"33,19%"
13,2009,97.751,280.074,37.902,73.951,"26,40%"
14,2008,94.166,295.894,34.835,60.470,"20,44%"
15,2007,88.057,288.137,29.487,57.869,"20,08%"
16,2006,81.509,279.967,26.712,52.490,"18,75%"
17,2005,77.248,268.934,23.481,42.530,"15,81%"
18,2004,70.297,259.365,21.848,50.736,"19,56%"
19,2003,65.843,244.185,22.045,56.273,"23,05%"
20,2002,60.912,226.021,20.913,34.932,"15,46%"
21,2001,56.106,221.134,16.469,49.364,"22,32%"
22,2000,54.149,208.742,15.184,36.119,"17,30%"
23,1999,49.696,194.466,11.802,27.857,"14,32%"
24,1998,49.003,183.533,11.537,37.198,"20,27%"
25,1997,47.773,179.752,11.596,37.273,"20,74%"
26,1996,46.609,165.187,11.793,41.296,"25,00%"
27,1995,45.629,156.873,11.689,24.490,"15,61%"
28,1994,44.445,152.877,11.545,28.900,"18,90%"
29,1993,43.855,147.425,11.484,24.964,"16,93%"
30,1992,43.747,148.172,11.484,19.553,"13,20%"
31,1991,43.616,147.118,11.429,27.704,"18,83%"
32,1990,43.397,143.675,11.320,25.852,"17,99%"
33,1989,43.554,140.075,11.597,19.679,"14,05%"
34,1988,42.838,129.867,10.984,35.399,"27,26%"
35,1987,42.172,127.987,10.556,27.551,"21,53%"
36,1986,40.224,127.486,11.153,26.616,"20,88%"
37,1985,39.675,124.778,10.959,31.475,"25,22%"
38,1984,37.232,117.409,10.935,31.611,"26,92%"
39,1983,34.169,114.778,10.917,27.228,"23,72%"
40,1982,32.201,113.188,10.945,26.453,"23,37%"
41,1981,31.562,109.573,10.869,22.043,"20,12%"
42,1980,29.923,108.579,13.473,29.504,"27,17%"

In [8]:
url2 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo/espana'

In [9]:
pd.read_html(url2)[0]

    Fecha  Generación GWh  Consumo GWh Consumo per capita kWh
0    2022         276.368      250.516                5.213,9
1    2021         260.011      256.546                5.402,4
2    2020         251.399      250.051                5.275,5
3    2019         260.829      264.664                5.591,6
4    2018         260.982      268.886                5.728,7
5    2017         262.306      267.867                5.741,0
6    2016         261.836      264.666                5.688,4
7    2015         267.454      262.808                5.659,1
8    2014         266.512      257.720                5.548,4
9    2013         273.286      260.598                5.602,8
10   2012         283.119      266.860                5.710,9
11   2011         279.354      270.022                5.767,5
12   2010         288.527      275.736                5.908,6
13   2009         280.074      268.193                5.769,3
14   2008         295.894      281.051                6.078,2
15   2007         288.137      277.954                6.086,3
16   2006         279.967      251.562                5.617,1
17   2005         268.934      241.631                5.490,4
18   2004         259.365      232.267                5.364,6
19   2003         244.185      222.921                5.239,3
20   2002         226.021      212.103                5.070,9
21   2001         221.134      206.603                5.034,8
22   2000         208.742      193.917                4.768,6
23   1999         194.466      180.703                4.465,1
24   1998         183.533      168.488                4.180,5
25   1997         179.752      162.581                4.050,0
26   1996         165.187      150.650                3.769,0
27   1995         156.873      145.402                3.652,6
28   1994         152.877      139.597                3.521,6
29   1993         147.425      133.844                3.392,0
30   1992         148.172      133.969                3.412,0
31   1991         147.118      131.902                3.377,7
32   1990         143.675      129.219                3.323,4
33   1989         140.075      125.859                3.239,3
34   1988         129.867      115.046                2.964,9
35   1987         127.987      114.291                2.950,9
36   1986         127.486      114.255                2.957,1
37   1985         124.778      111.865                2.903,2
38   1984         117.409      108.653                2.828,9
39   1983         114.778      104.163                2.723,0
40   1982         113.188       99.595                2.614,7
41   1981         109.573       99.205                2.618,8
42   1980         108.579       97.231                2.583,5

In [10]:
url3 = 'https://world-nuclear.org/information-library/facts-and-figures/nuclear-generation-by-country.aspx'

In [11]:
pd.read_html(url3)[0]

         Country or area Nuclear share of electricity (%)                    \
      Unnamed: 0_level_1                             2012  2013  2014  2015
0              Argentina                              4.7   4.4   4.0   4.8
1                Armenia                             26.6  29.2  30.7  34.5
2                Belarus                              0.0   0.0   0.0   0.0
3                Belgium                             51.0  52.1  47.5  37.5
4                 Brazil                              3.1   2.8   2.9   2.8
5               Bulgaria                             31.6  30.7  31.8  31.3
6                 Canada                             15.3  16.0  16.8  16.6
7                 China:                              NaN   NaN   NaN   NaN
8             - Mainland                              2.0   2.1   2.4   3.0
9               - Taiwan                             18.4  19.1  18.9  16.3
10             Czech Rep                             35.3  35.9  35.8  32.5
11               Finland                             32.6  33.3  34.6  33.7
12                France                             74.8  73.3  76.9  76.3
13               Germany                             16.1  15.5  15.8  14.1
14               Hungary                             45.9  50.7  53.6  52.7
15                 India                              3.6   3.5   3.5   3.5
16                  Iran                              0.6   1.5   1.5   1.3
17                 Japan                              2.1   1.7   0.0   0.5
18              Korea, S                             30.4  27.6  30.4  31.7
19                Mexico                              4.7   4.6   5.6   6.8
20           Netherlands                              4.4   2.8   4.0   3.7
21              Pakistan                              5.3   4.4   4.3   4.4
22               Romania                             19.4  19.8  18.5  17.3
23                Russia                             17.8  17.5  18.6  18.6
24              Slovakia                             53.8  51.7  56.8  55.9
25              Slovenia                             36.0  33.6  37.2  38.0
26          South Africa                              5.1   5.7   6.2   4.7
27                 Spain                             20.5  19.7  20.4  20.3
28                Sweden                             38.1  42.7  41.5  34.3
29           Switzerland                             35.9  36.4  37.9  33.5
30  United Arab Emirates                              0.0   0.0   0.0   0.0
31                    UK                             18.1  18.3  17.2  18.9
32               Ukraine                             46.2  43.6  49.4  56.5
33                   USA                             19.0  19.4  19.5  19.5
34                 TOTAL                              NaN   NaN   NaN   NaN

                                              \
    2016  2017  2018  2019  2020  2021  2022
0    5.6   4.5   4.7   5.9   7.5   7.2   5.4
1   31.4  32.5  25.6  27.8  34.5  25.3  31.0
2    0.0   0.0   0.0   0.0   1.0  14.1  11.9
3   51.7  49.9  39.0  47.6  39.1  50.8  46.4
4    2.9   2.7   2.7   2.7   2.1   2.4   2.5
5   35.0  34.3  34.7  37.5  40.8  34.6  32.6
6   15.6  14.6  14.9  14.9  14.6  14.3  12.9
7    NaN   NaN   NaN   NaN   NaN   NaN   NaN
8    3.6   3.9   4.2   4.9   4.9   5.0   5.0
9   13.7   9.2  11.4  13.4  12.7  10.8   9.1
10  29.4  33.1  34.5  35.2  37.3  36.6  36.7
11  33.7  33.2  32.4  34.7  33.9  32.8  35.0
12  72.3  71.6  71.7  70.6  70.6  69.0  62.5
13  13.1  11.6  11.7  12.4  11.3  11.9   5.8
14  51.3  50.0  50.6  49.2  48.0  46.8  47.0
15   3.4   3.2   3.1   3.2   3.3   3.2   3.1
16   2.1   2.1   2.1   1.8   1.7   1.0   1.7
17   2.2   3.6   6.2   7.5   5.1   7.2   6.1
18  30.3  27.1  23.7  26.2  29.6  28.0  30.4
19   6.2   6.0   5.3   4.5   4.9   5.3   4.5
20   3.4   2.9   3.0   3.2   3.3   3.1   3.3
21   4.4   6.2   6.8   6.6   7.1  10.6  16.2
22  17.1  17.7  17.2  18.5  19.9  18.5  19.4
23  17.1  17.8  17.9  19.7  20.6  20.0  19.6
24  54.1  54.0  55.0  53.9  53.1  52.3  59.2
25  35.2  39.1  35.9  37.0  37.8  36.9  42.6
26   6.6   6.7   4.7   6.7   5.9   6.0   4.9
27  21.4  21.2  20.4  21.4  22.2  20.8  20.3
28  40.0  39.6  40.3  34.0  29.8  30.8  29.4
29  34.4  33.4  37.7  23.9  32.9  28.8  36.4
30   0.0   0.0   0.0   0.0   1.1   7.0   6.8
31  21.2  19.3  17.7  15.6  14.5  14.8  14.2
32  52.3  55.0  53.0  53.9  51.2  55.0     -
33  19.7  20.0  19.3  19.7  19.7  19.6  18.2
34   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   Nuclear electricity  production (billion kWh)
                                            2021   2022
0                                           10.2    7.5
1                                            1.9    2.6
2                                            5.4    4.4
3                                           48.0   41.7
4                                           13.9   13.7
5                                           15.8   15.8
6                                           86.8   81.7
7                                            NaN    NaN
8                                          383.2  395.4
9                                           26.8   22.9
10                                          29.0   29.3
11                                          22.6   24.2
12                                         363.4  282.1
13                                          65.4   31.9
14                                          15.1   15.0
15                                          39.8   42.0
16                                           3.2    6.0
17                                          61.3   51.9
18                                         150.5  167.5
19                                          11.6   10.5
20                                           3.6    3.9
21                                          15.8   22.2
22                                          10.4   10.2
23                                         208.4  209.5
24                                          14.6   14.8
25                                           5.4    5.3
26                                          12.2   10.1
27                                          54.2   56.0
28                                          51.4   50.0
29                                          18.6   23.2
30                                          10.1   19.3
31                                          41.8   43.5
32                                          81.1      -
33                                         771.6  772.2
34                                        2653.0   2545

In [12]:
url4 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2'

In [13]:
pd.read_html(url4)[0]

,Países,CO2 Totales Mt,CO2 Kg/1000$,CO2 t per capita,CO2 t per capita.1,Var.
0,España [+],231914,13,499,NaN,"9,18%"
1,Alemania [+],665884,15,806,NaN,"5,78%"
2,Reino Unido [+],335363,11,495,NaN,"4,59%"
3,Francia [+],302327,10,458,NaN,"7,88%"
4,Italia [+],319669,13,541,NaN,"8,38%"
...,...,...,...,...,...,...
179,Samoa [+],0360,31,178,NaN,"2,73%"
180,Yemen [+],12047,10,39,NaN,"1,55%"
181,Sudáfrica [+],435523,55,734,NaN,"0,70%"
182,Zambia [+],7011,11,36,NaN,"2,87%"
183,Zimbabue [+],12293,23,68,NaN,"5,17%"

In [14]:
url5 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-generacion'

In [15]:
pd.read_html(url5)[0]

,Países,Fecha,Capacidad instalada MW,Generación GWh,Capacidad instalada renovable MW,Generación renovable GWh,Porcentaje renovable,Porcentaje renovable.1,Var.
0,España [+],2022,119.449,276.368,70.813,116.695,"42,22%",NaN,-449.0
1,Alemania [+],2021,250.385,557.144,137.762,233.000,"41,82%",NaN,-475.0
2,Reino Unido [+],2021,108.743,288.609,48.581,120.124,"41,62%",NaN,-459.0
3,Francia [+],2021,142.216,530.418,55.218,123.210,"23,23%",NaN,-183.0
4,Italia [+],2021,120.884,274.179,53.093,115.192,"42,01%",NaN,-150.0
...,...,...,...,...,...,...,...,...,...
183,Samoa [+],2021,51,178,27,64,"36,03%",NaN,-144.0
184,Yemen [+],2021,1.772,3.521,253,598,"16,98%",NaN,184.0
185,Sudáfrica [+],2021,63.276,221.500,10.130,16.832,"7,60%",NaN,180.0
186,Zambia [+],2021,3.365,17.714,2.842,16.299,"92,01%",NaN,581.0
187,Zimbabue [+],2021,2.476,8.031,1.211,4.141,"51,57%",NaN,-29.0

In [16]:
url6 = 'https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo'

In [17]:
pd.read_html(url6)[0]

,Países,Fecha,Generación GWh,Consumo GWh,Consumo per capita kWh,Consumo per capita kWh.1,Var.
0,España [+],2022,276.368,250.516,"5.213,9",NaN,"-3,49%"
1,Alemania [+],2021,557.144,511.660,"6.147,0",NaN,"2,39%"
2,Reino Unido [+],2021,288.609,287.319,"4.283,2",NaN,"-2,62%"
3,Francia [+],2021,530.418,447.447,"6.592,5",NaN,"4,93%"
4,Italia [+],2021,274.179,299.922,"5.080,8",NaN,"4,77%"
...,...,...,...,...,...,...,...
183,Samoa [+],2021,178,163,8125,NaN,"3,49%"
184,Yemen [+],2021,3.521,2.931,898,NaN,"8,28%"
185,Sudáfrica [+],2021,221.500,191.441,"3.183,1",NaN,"-0,33%"
186,Zambia [+],2021,17.714,14.321,7354,NaN,"18,01%"
187,Zimbabue [+],2021,8.031,8.340,5215,NaN,"0,50%"

In [18]:
url7 = 'https://world-nuclear.org/information-library/facts-and-figures/uranium-production-figures.aspx'

In [19]:
pd.read_html(url7)[0]

,Country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Kazakhstan,22451,23127,23607,24689,23321,21705,22808,19477,21819,21227
1,Canada,9331,9124,13325,14039,13116,7001,6938,3885,4693,7351
2,Namibia,4323,3255,2993,3654,4224,5525,5476,5413,5753,5613
3,Australia,6350,5001,5654,6315,5882,6517,6613,6203,4192,4553
4,Uzbekistan (est.),2400,2400,2385,3325,3400,3450,3500,3500,3520,3300
5,Russia,3135,2990,3055,3004,2917,2904,2911,2846,2635,2508
6,Niger,4518,4057,4116,3479,3449,2911,2983,2991,2248,2020
7,China (est.),1500,1500,1616,1616,1692,1885,1885,1885,1600,1700
8,India (est.),385,285,385,385,421,423,308,400,600,600
9,South Africa (est.),531,573,393,490,308,346,346,250,192,200
10,Ukraine,922,926,1200,808,707,790,800,744,455,100
11,USA,1792,1919,1256,1125,940,582,58,6,8,75
12,Pakistan (est.),45,45,45,45,45,45,45,45,45,45
13,Brazil,192,55,40,44,0,0,0,15,29,43
14,Iran (est.),0,0,38,0,40,71,71,71,21,20
15,Czech Republic,215,193,155,138,0,0,0,0,0,0
16,Romania,77,77,77,50,0,0,0,0,0,0
17,France,5,3,2,0,0,0,0,0,0,0
18,Germany,27,33,0,0,0,0,0,0,0,0
19,Malawi,1132,369,0,0,0,0,0,0,0,0
20,Total world,59331,56041,60304,63207,60514,54154,54742,47731,47808,49355
21,tonnes U3O8,69966,66087,71113,74357,71361,63861,64554,56287,56377,58201
22,% of world demand,91%,85%,98%,96%,93%,80%,81%,74%,76%,74%